<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Panel page</title>
    <div th:replace="addons/header :: header"/>
</head>

<body>

<div id="particles">
    <div id="webcoderskull">

        <section class="row-section">
            <div class="col-md-10 offset-md-1 row-block">

                <div th:replace="addons/menu :: menu"/>

                <!-- начало блока с редактированием студента -->

                <h5 style="text-align: center;">Редактирование студента</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

                <!-- конец блока с редактированием студента -->

            </div>
        </section>

    </div>
</div>

<div th:replace="addons/footer :: footer"/>

</body>
</html>