<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Panel page</title>
    <div th:replace="addons/header :: header"/>
</head>

<body>

<div id="particles">
    <div id="webcoderskull">


        <section class="row-section">
            <div class="col-md-10 offset-md-1 row-block">

                <div th:replace="addons/menu :: menu"/>

                <!-- начало блока с удалением студента -->

                <h5 style="text-align: center;">Редактирование студента</h5>
                <hr>
                <p>Вы успешно отредактировали запись о студенте!</p>

                <form action=/panel>
                    <input class="btn btn-lg btn-success" type="submit" value="Вернуться" />
                </form>
                <!-- конец блока с удалением студента -->
            </div>
        </section>

    </div>
</div>

<div th:replace="addons/footer :: footer"/>

</body>
</html>