<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="edit">
        <!-- начало блока с редактированием студента -->

        <div class="media">
            <div class="media-body">
                <h5>Редактирование студента</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
        </div>

        <!-- конец блока с редактированием студента -->
    </div>
</body>
</html>