<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="search">
        <!-- начало блока со страницей поиска -->

        <!-- TODO возродить кнопки -->

        <div class="media">
            <div class="media-body">

                <h5>Поиск студентов</h5>
                <hr>

                <br><br>

                <form>
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Поиск по критерию..">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>

                <!--<th data-defaultsign="_19">#</th>-->
                <!--<th data-defaultsign="AZ">First Name</th>-->
                <!--<th>Last Name</th>-->
                <!--<th data-defaultsign="month">Birthday</th>-->

                <h6>Результаты поиска</h6>
                <br>
                <table class="table table-striped sortable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Дата рождения</th>
                            <th scope="col">Дата зачисления</th>
                            <th scope="col">Перс.код</th>
                            <th scope="col">Адрес</th>
                            <th scope="col">Факультет</th>
                            <th scope="col">Группа</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-value="1">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td data-dateformat="DD-MM-YYYY">27-02-1996</td>
                            <td data-dateformat="DD-MM-YYYY">29-08-2014</td>
                            <td>270296-10000</td>
                            <td>Рига</td>
                            <td>Программирование</td>
                            <td>4503BD</td>
                            <td>
                                <li class="tab"><a class="badge badge-danger" href="#edit" role="menuitem"><i class="far fa-edit"></i><i class="material-icons">edit</i></a></li>
                                <li class="tab"><a href="#edit">Редактировать</a></li>
                                <form action="#" th:action="@{/blocks/edit}">
                                    <input type="submit" value="Submit"/>
                                </form>
                                <a class="badge badge-primary" href="javascript: document.editStudent.submit()" role="menuitem"><i class="far fa-edit"></i><i class="material-icons">edit</i></a>
                                <form name="editStudent" th:action="@{/edit}" method="get" th:hidden="true"><input hidden type="submit" value="editStudent"/></form>
                                <a class="badge badge-primary" href="javascript: document.editStudent.submit()" role="menuitem"><i class="far fa-edit"></i><i class="material-icons">edit</i></a>
                                <form name="editStudent" th:action="@{/blocks/edit}" method="get" th:hidden="true"><input hidden type="submit" value="editStudent"/></form>
                                <!--<a class="badge badge-primary" href="javascript: document.editStudent.submit()" role="menuitem"><i class="far fa-edit"></i><i class="material-icons">edit</i></a>-->
                                <!--<form name="editStudent" th:action="@{/editRed}" method="get" th:hidden="true"><input hidden type="submit" value="editStudent"/></form>-->
                                <!--<a class="badge badge-danger" href="javascript: document.removeStudent.submit()" role="menuitem"><i class="fas fa-trash-alt"></i><i class="material-icons">delete</i></a>-->
                                <!--<form name="removeStudent" th:action="@{/removeRed}" method="get" th:hidden="true"><input hidden type="submit" value="removeStudent"/></form>-->
                            </td>
                        </tr>
                        <tr>
                            <td data-value="2">2</td>
                            <td>Blow</td>
                            <td>Job</td>
                            <td data-dateformat="DD-MM-YYYY">03-08-1993</td>
                            <td data-dateformat="DD-MM-YYYY">29-08-2015</td>
                            <td>270196-10056</td>
                            <td>Рига</td>
                            <td>Программирование</td>
                            <td>4501BD</td>
                            <td><a class="badge badge-primary" href="javascript: document.editStudent.submit()" role="menuitem"><i class="far fa-edit"></i><i class="material-icons">edit</i></a>
                                <form name="editStudent" th:action="@{/edit}" method="post" th:hidden="true"><input hidden type="submit" value="editStudent"/></form>
                                <a class="badge badge-danger" href="javascript: document.removeStudent.submit()" role="menuitem"><i class="fas fa-trash-alt"></i><i class="material-icons">delete</i></a>
                                <form name="removeStudent" th:action="@{/remove}" method="post" th:hidden="true"><input hidden type="submit" value="removeStudent"/></form>
                            </td>
                        </tr>
                    <tr>
                    <tbody>
                    <th:block th:each="student : ${studList}">
                        <tr>
                            <td th:text="${student.id}">A Smoke Test'</td>
                            <td th:text="${student.name}">A Smoke Test'</td>
                            <td th:text="${student.surname}">A Smoke Test'</td>
                            <td th:text="${#dates.format(student.birthDate,'dd-MM-yyyy')}">A Smoke Test'</td>
                            <td th:text="${student.personalCode}">A Smoke Test'</td>
                            <td th:text="${student.adress}">A Smoke Test'</td>
                            <td th:text="${student.faculty}">A Smoke Test'</td>
                            <td th:text="${student.group}">A Smoke Test'</td>
                            <td th:text="${#dates.format(student.enrollDate,'dd-MM-yyyy')}">A Smoke Test'</td>
                            <td th:text="${student.city}">A Smoke Test'</td>
                            <td th:text="${student.country}">A Smoke Test'</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <br><br>

            </div>
        </div>

        <!-- конец блока со страницей поиска -->
    </div>
</body>
</html>