<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="search">
        <!-- начало блока со страницей поиска -->

        <div class="media">
            <div class="media-body">

                <h5>Поиск студентов</h5>
                <hr>

                <br><br>

                <form>
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Поиск по критерию..">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>

                <h6>Результаты поиска</h6>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Birth day</th>
                        <th>Personal code</th>
                        <th>Address</th>
                        <th>Faculty</th>
                        <th>Group</th>
                        <th>Enroll date</th>
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tbody>
                    <th:block th:each="student : ${studList}">
                        <tr>
                            <td th:text="${student.id}">A Smoke Test'</td>
                            <td th:text="${student.name}">A Smoke Test'</td>
                            <td th:text="${student.surname}">A Smoke Test'</td>
                            <td th:text="${#dates.format(student.birthDate,'dd-MM-yyyy')}">A Smoke Test'</td>
                            <td th:text="${student.personalCode}">A Smoke Test'</td>
                            <td th:text="${student.adress}">A Smoke Test'</td>
                            <td th:text="${student.faculty}">A Smoke Test'</td>
                            <td th:text="${student.group}">A Smoke Test'</td>
                            <td th:text="${#dates.format(student.enrollDate,'dd-MM-yyyy')}">A Smoke Test'</td>
                            <td th:text="${student.city}">A Smoke Test'</td>
                            <td th:text="${student.country}">A Smoke Test'</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <br><br>

            </div>
        </div>

        <!-- конец блока со страницей поиска -->
    </div>
</body>
</html>